.container {
    position: relative;
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

a {
    img {
        width: 100%;
        height: 100%;
    }
}

input {
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}

.header-logo {
    @import './mixin.scss';
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #ff6600;
    a {
        display: inline-block;
        width: 110px;
        height: 55px;
        &:before {
            content: " ";
            @include bgImg(55px, 55px, "/imgs/mi-logo.png");
            transition: margin 0.3s;
        }
        &:after {
            content: " ";
            @include bgImg(55px, 55px, "/imgs/mi-home.png");
        }
        &:hover:before {
            margin-left: -55px;
            transition: margin 0.3s;
        }
    }
}